{% extends 'base.html' %}

{% block head %}
    {% load static %}
        <title>Список питомцев</title>
        <link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock  %}


{% block content %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Кличка</th>
                <th scope="col">Возраст</th>
                <th scope="col">Описание</th>
                <th scope="col">Характер</th>
                <th scope="col">Фото</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals_list %}
            <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href= '/{{ animal.get_kind_display }}/{{ animal.id }}/'>{{ animal.name }}</a></td>
                    <td>{{ animal.age }}</td>
                    <td>{{ animal.description }}</td>
                    <td>{{ animal.get_character_display }}</td>
                    <td>
                        {% if animal.avatar %}
                            <img src="{{ animal.avatar.url }}" alt="Avatar" class="icon">
                        {% else %}
                            <p>:)</p>
                        {% endif %}
                    </td>
            </tr>
        </tbody>
        {% endfor %} 
    </table>
{% endblock %}